body{
	background-color: #ddd9d5;
	font-family: 'Quicksand', sans-serif;
	color: #38332e;
	font-size: 100%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

nav {
	margin: 2em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 2px solid #991f00;
}

nav h1 {
	font-size: 40px;
	font-weight: bold;
	color: #991f00;
}

nav ul li {
	float: left;
	padding: 0 1em;
}
